<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RTW89DepTest</string>
	<key>CFBundleIdentifier</key>
	<string>com.rtw89.deptest</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RTW89DepTest</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IO80211FamilyLegacy</key>
		<string>12.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>20.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>20.0.0</string>
	</dict>
</dict>
</plist>
